<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Sistema de Gerenciamento de Alunos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1 align="center">Bem-vindo ao Sistema de Gerenciamento de Alunos</h1>
    </header>
    <main>
        <section align="center">
            <h2>Escolha uma opção:</h2>
            <a href="/alunos" class="button">Gerenciar Alunos</a>
        </section>
    </main>

</html>